<a href="https://colab.research.google.com/github/KW-ML/ML_Project/blob/main/code/SMOTE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install imblearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imblearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (from imblearn) (0.8.1)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (3.1.0)

In [ ]:
import pandas as pd
from collections import Counter
from numpy.random import RandomState
from imblearn.over_sampling import SMOTENC
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
train_low = pd.read_csv("/content/drive/MyDrive/기계학습팀플/코드/data/train_low.csv", encoding = 'utf-8-sig')
train_high= pd.read_csv("/content/drive/MyDrive/기계학습팀플/코드/data/train_high.csv", encoding = 'utf-8-sig')

In [ ]:
dfTrain = pd.concat([train_low,train_high])

In [ ]:
dfTrain['Status'] = [1 if s >90 else 0 for s in dfTrain['처리효율']]

In [ ]:
dfTrain.groupby('Status').size()

Status
0     111
1    3297
dtype: int64

In [ ]:
dfX = dfTrain.drop(['Status'],axis = 1)
dfY = dfTrain['Status']

In [ ]:
sm = SMOTE(random_state=2022)
X_res, Y_res = sm.fit_resample(dfX, dfY)
print(f'Resampled dataset samples per class {Counter(Y_res)}')

Resampled dataset samples per class Counter({0: 3297, 1: 3297})

In [ ]:
X_res

,시설용량,생물학적,고도,유입하수량,생물학적 유입하수량,고도 유입하수량,방류량,생물학적 방류량,고도 방류량,유입 COD,...,수계_0,수계_1,수계_2,준공일_day,가동개시일_day,방류수소독방법_염소,방류수소독방법_자외선,방류수소독방법_오존,방류수소독방법_기타,처리효율
0,46,46,0,27.500000,27.500000,0.000000,27.500000,27.500000,0.000000,20.400000,...,1,0,0,8073,8073,1,1,1,1,87.400000
1,35,35,0,21.500000,21.500000,0.000000,21.500000,21.500000,0.000000,41.600000,...,1,0,0,8053,8053,1,1,1,1,90.000000
2,40,0,40,35.900000,0.000000,35.900000,36.700000,0.000000,36.700000,72.400000,...,1,0,0,5482,5482,1,1,1,1,89.200000
3,36,0,36,30.100000,0.000000,30.100000,28.400000,0.000000,28.400000,74.000000,...,1,0,1,5946,5946,1,1,1,1,87.900000
4,45,0,45,15.600000,0.000000,15.600000,15.600000,0.000000,15.600000,41.800000,...,0,1,0,5481,5481,1,1,1,1,83.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6589,24,24,0,15.550084,15.550084,0.000000,15.550084,15.550084,0.000000,39.817068,...,1,0,0,7384,7384,1,1,1,1,89.030274
6590,20,0,20,20.000000,0.000000,20.000000,20.000000,0.000000,20.000000,47.875863,...,1,0,1,7939,7962,1,1,1,1,88.748275
6591,38,0,38,43.988127,0.000000,43.988127,42.000243,0.000000,42.000243,77.277760,...,1,0,1,5535,5535,1,1,1,1,87.570705
6592,12,0,12,10.121415,10.121415,0.000000,10.121415,10.121415,0.000000,57.462661,...,1,0,1,7574,7574,1,1,1,1,88.703844
6593,70,0,70,60.365185,58.184338,2.180846,60.365185,58.184338,2.180846,38.871505,...,0,0,1,4899,4882,0,1,1,1,89.631837

In [ ]:
X_res.to_csv('SMOTE.csv',encoding="utf-8-sig", index = False)